---
layout: pb/layouts/pb
---

%h1 PB

%ul
  %li
    %a{href: '/pb/wec.html'} WEC
  %li
    %a{href: '/pb/tet.html'} TET
  %li
    %a{href: '/pb/crt.html'} CRT
  %li
    %a{href: '/pb/turn-helper.html'} Turn helper


= partial 'pb/solitaire'
= partial 'pb/balance'

%h2 Situations

Notes and games.

%h3 Situation #1

%ul
  %li
    %a{href: '/pb/situation-1.html'} Notes on Situation #1

%h3 Situation #2

%ul
  %li
    %a{href: '/pb/situation-2.html'} Notes on Situation #2, game 1
  %li
    %a{href: '/pb/situation-2-game-2.html'} Notes on Situation #2, game 2
  %li
    %a{href: '/pb/situation-2-game-3.html'} Notes on Situation #2, game 3

%h3 Situation #3

Played this first with Al S, then a solo game.

I've read elsewhere that this is one of the most unbalanced
scenarios in the original game, and while it's true the that
it's a very tough win for the Germans, if the Russians aren't
careful, they won't meet their victory conditions either.


%ul
  %li
    %a{href: '/pb/situation-3-game-1.html'} Notes on Situation #3, games 1 & 2
  %li
    %a{href: '/pb/situation-3-game-2.html'} Notes on Situation #3, game 3

