---
layout: pb
---

:css
  div.tet {
    background-color: black;
    padding: 25px;
    margin: 10px;
  }

  table {
    border-collapse: collapse;
    border-width: 3px;
    border-radius: 25px;
    border-color: red;
    font-weight: bold;
    overflow: hidden;
  }

  td {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 10px;
    background-color: white;
  }

  td.to {
    background-color: #a3c1ad;
  }

  td.from {
    background-color: #b0e0e6;
  }

  .situation-card {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 150px;
    padding: 10px;
  }

  .header {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 100%;
  }

  .description {
    padding-top: 10px;
    font-size: smaller;
  }

  .map-layout {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 10px;
    height: 100px;
  }

.container
  .row
    .col-lg-8
      .situation-card
        .header
          .panzerblitz-title.col-lg-3
            %h2 PanzerBlitz
          .description.col-lg-6
            COMBINED RUSSIAN OFFENSIVE: Bunch of description here. Lots more description.
            Bunch of description here. Lots more description.
            Bunch of description here. Lots more description.
            Bunch of description here. Lots more description.
            Bunch of description here. Lots more description.
            Bunch of description here. Lots more description.
          .map-layout.col-lg-2



