---
layout: pb
---

:css
  div.tet {
    background-color: black;
    padding: 25px;
    margin: 10px;
  }

  table {
    border-collapse: collapse;
    border-width: 3px;
    border-radius: 25px;
    border-color: red;
    font-weight: bold;
    overflow: hidden;
  }
 
  td {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 10px;
    background-color: white;
  }

  td.to {
    background-color: #a3c1ad;
  }

  td.from {
    background-color: #b0e0e6;
  }

  th.header {
    padding: 10px;
    background-color: #3eb489;
  }

  .errata {
    color: red;
  }

  #inote-b {
    display: none;
    position: fixed;
  }

%h1 Target Elevation Table

Here is something I've been wanting to do for quite a while,
a game aid for PanzerBlitz. This is one of several, and probably
the easiest to get started with. A good side effect is that I get
much more familiar with the rules as a result of ensuring the
game aid is correct.

.tet
  %table
    %thead
      %tr
        %th.header{:colspan => "4"} TET &nbsp; TARGET ELEVATION TABLE
    %tbody
      %tr
        %td.from{:rowspan => "2"} UNITS FIRING FROM
        %td.to{:colspan => "3"}
          INTERVENING OBSTACLE/HEX-SIDE SYMBOLS WHICH OBSTRUCT THE
          LINE-OF-FIRE WHEN TARGET IS ON...
      %tr
        %td.to GROUND LEVEL
        %td.to SLOPES
        %td.to HILLTOPS
      %tr
        %td.from GROUND LEVEL
        %td ALL
        %td
          BROWN ORANGE
          %br/
          See Note B
        %td
          %a.note-b See Note B
          %br/
          See Note D
      %tr
        %td.from SLOPES
        %td
          BROWN ORANGE
          %br/
          See Note A
        %td
          BROWN ORANGE
          %br/
          See Note E
        %td
          %span.errata See Note E
      %tr
        %td.from HILLTOPS
        %td
          %span.errata See Note A
          %br/
          See Note C
        %td
          %span.errata See Note E
        %td NONE

#note-a
  %h4 Note A
  %p
    When firing FROM a hilltop or slope TO a ground-level target, the
    Line-of-Sight is obstructed if the TARGET UNIT is directly behind a Gray
    or Green hex-side: i.e. "directly behind" means that the intervening Gray
    or Green hex-side(s) forms one or more of the hexagon sides of the
    target hex itself.
  %p Note A is the converse of Note B.

#note-b
  %h4 Note B
  %p
    When firing FROM ground-level TO a target on a hilltop or a slope, the
    Line-of-Sight is obstructed if the FIRING UNIT is directly behind a Gray
    or Green hex-side.
  %p Note B is the converse of Note A.

#note-c
  %h4 Note C
  %p
    When firing FROM a hilltop TO a ground-level target, the Line-of-Sight
    is obstructed by intervening Brown hex-side symbols if such a symbol is
    closer to the TARGET UNIT than to the firing unit or if the symbol is
    exactly mid-way between the two. To determine the relative position of
    the Brown symbol, count the number of hexagon SIDES through which the
    Line-of-Sight is traced (including the side of the firing hex and the
    side of the target hex).
  %p Note C is the converse of Note D.

#note-d
  %h4 Note D
  %p
    When firing FROM ground-level TO a target on a hilltop, the
    Line-of-Sight is obstructed by intervening Brown hex-side symbols if
    such a symbol is closer to the FIRING UNIT than to the target, or
    exactly midway between the two.
  %p Note D is the converse of Note C.

#note-e
  %h4 Note E
  %p
    The ONLY case in which a unit may trace an unobstructed Line-of-Sight
    through more than ONE Orange (hilltop) hex-side symbol is when both the
    target unit and the firing unit are on hilltops. In all other
    situations, the LOS is obstructed if it must be traced through more than
    one Orange hex-side.

:javascript
  $(document).ready(function() {
    loadPopupBox();
  
    $('#close-note-b').click(function() {
      unloadPopupBox();
    });
  
    function unloadPopupBox() {
      $('#note-b').fadeOut('slow');
    }
  
    function loadPopupBox() {
      $('#note-b').fadeIn('slow');
    } 
  });

