---
layout: pb
---

%h1 Rules


%h2 Halftracks

Halftracks are classified as armor for defense, and according to
the weaponry on the type of halftrack on attack.

%ul
  %li
    <b>Overrunning</b>: Halftracks *may* overrun infantry and carrier vehicles,
    *may not* overrun armor.
  %li
    <b>Close assault</b>:
  %li
    <b>Spotting</b>:
  %li
    <b>Spotting with command post</b>:


