---
layout: pb
---

%H1
  PanzerBlitz Firefights

%p
  :markdown
    For the purposes of this website, a PanzerBlitz firefight is a single engagement
    with a small number of units designed to last 2-3 turns, and played unit one side
    has been eliminated or a technical draw is reached. The actual resolution of the
    firefight may require more than 3 turns, as units become dispersed and recover,
    but the ultimate resolution, whether a draw or a kill, will become apparent shortly
    after 3 turns.

    A draw is reached when neither side can eliminate the other, for a given balance of
    forces. For example, when the best result is alternating dispersal with no chance
    of a kill, it's a draw provided each player has retained an equivalent force.
    If one player has eliminated more units than the other player, alternating dispersal
    resolves to the player with the most kills.
