.sidebar
  %h3 Global sidebar 1
  %h3 Global sidebar 2

  %h3 The odd man out

  :markdown
    When there is an odd man out:

    * Have a solo game ready to play.
    * Keep score or advise on a game in progress.
    * Referee a game in progress.

  -#= partial '/panzerblitz/brief-history.html'
  -#= partial '/panzerblitz/links.html'
