/* site global styling */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#wrap > .container {
  padding-top: 50px;
}

#push {
  height: 60px;
}

footer {
  height: 60px;
  background-color: #ccc;
}

.sidebar {
  background-color: #eee;
}

table.center {
  margin: auto;
}

table.fire-record {
  td, th {
    padding: 2px 5px 2px 5px;
  }
  th {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-bottom: 1.5em;
}

.center {
  text-align: center;
  img {
    width: 580px;
  }
}

.blog {
  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 24px;
  }

  h3,
  .h3 {
    font-size: 18px;
  }

  h4,
  .h4 {
    font-size: 16px;
    font-style: italic;
  }

  h5,
  .h5 {
    font-size: 12px;
  }

  h6,
  .h6 {
    font-size: 12px;
    font-style: italic;
  }
}
