%meta{charset: 'utf-8'}/
%script{src: 'http://code.jquery.com/jquery-1.9.1.js', type: 'text/javascript'}
%link{ rel: "icon", type: "image/png", href: "/images/pb_icon.png" }
= stylesheet_link_tag 'bootstrap.css'
= stylesheet_link_tag 'consim.css'
= javascript_include_tag 'http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js'
