.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "/"} Home
        %li
          %a{href: "about.html"} About
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Games
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "pb/"} PanzerBlitz
            %li
              %a{href: "ode/"} Ogre Designer Edition
            -#%li.divider
            -#%li.nav-header Nav header
            -#%li
            -#  %a{href: "#"} Separated link
            -#%li
            -#  %a{href: "#"} One more separated link
