%header
  %nav.navbar.navbar-default{role: 'navigation'}
    .container{style: 'background-color: black;'}
      %ul.nav.navbar-nav
        %li
          %a{href: '/about.html'} About
        %li
          %a{href: '/'} ConSim home
        %li
          %a{href: '/ogre'} Ogre home

        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
            Games
            %b.caret
            %ul.dropdown-menu
              %li
                %a{href: '/ogre/games/'} Overview
              %li
                %a{href: '/ogre/solitaire.html'} Solitaire
              %li
                %a{href: '/ogre/balance.html'} Balance

        %li
          %a{href: '/ogre/firefights'} Firefights

        %li.dropdown
          %a.dropdown-toggle{href: '#', "data-toggle" => 'dropdown'}
            Tactical examples
            %b.caret
            %ul.dropdown-menu
              %li
                %a{href: '/ogre/tactical-examples/transport.html'} Transporting units

        %li.dropdown
          %a.dropdown-toggle{href: '#', "data-toggle" => 'dropdown'}
            Source code
            %b.caret
            %ul.dropdown-menu
              %li
                %a{href: 'http://github.com/mtngrown/consim'} Ogre @ Github
