%header
  %nav.navbar.navbar-default{role: 'navigation'}
    .container{style: 'background-color: black;'}
      %ul.nav.navbar-nav
        %li
          %a{href: '/about.html'} About
        %li
          %a{href: '/'} ConSim home
        %li
          %a{href: '/pb'} PanzerBlitz home
        %li
          %a{href: '/pb/playing-aids'} Playing aids

        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
            Games
            %b.caret
            %ul.dropdown-menu
              %li
                %a{href: '/pb/games/'} Overview
              %li
                %a{href: '/pb/solitaire.html'} Solitaire
              %li
                %a{href: '/pb/balance.html'} Balance
              %li
                %a{href: '/pb/games/situation-1.html'} Situation #1
              %li
                %a{href: '/pb/games/situation-2.html'} Situation #2, game 1
              %li
                %a{href: '/pb/games/situation-2-game-2.html'} Situation #2, game 2
              %li
                %a{href: '/pb/games/situation-2-game-3.html'} Situation #2, game 3
              %li
                %a{href: '/pb/games/situation-3-game-1.html'} Situation #3, games 1 & 2
              %li
                %a{href: '/pb/games/situation-3-game-2.html'} Situation #3, game 3
              %li
                %a{href: '/pb/games/situation-3-game-4.html'} Situation #3, game 4
              %li
                %a{href: '/pb/games/situation-5-game-1.html'} Situation #5, game 1
              %li
                %a{href: '/pb/games/situation-5-game-2.html'} Situation #5, game 2

        %li
          %a{href: '/pb/firefights'} Firefights

        %li.dropdown
          %a.dropdown-toggle{href: '#', "data-toggle" => 'dropdown'}
            Tactical examples
            %b.caret
            %ul.dropdown-menu
              %li
                %a{href: '/pb/tactical-examples/transport.html'} Transporting units
              %li
                %a{href: '/pb/tactical-examples/line-of-sight.html'} Line of sight

        %li
          %a{href: 'http://github.com/mtngrown/consim'} Source
