%header
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
  Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

%nav.navbar.navbar-default{role: 'navigation'}
  .container{style: 'background-color: black;'}
    %ul.nav.navbar-nav
      %li
        %a{href: '/'} ConSim home
      %li
        %a{href: '/pb'} PanzerBlitz home
      %li
        %a{href: '/pb/about'} About
      %li
        %a{href: '/pb/playing-aids'} Playing aids
      %li
        %a{href: '/pb/situations'} Games
      %li
        %a{href: '/pb/firefights'} Firefights
      %li
        %a{href: '/pb/examples'} Tactical examples
      %li
        %a{href: 'http://github.com/mtngrown/consim'} Source


