<!doctype html>
%html
  %head
    = partial 'layouts/head'
  %body
    .container
      .row
        .span12
          %header
            Copyright CC Non-Commercial
            %a{ href: '/pb' } Home

    .container
      .row
        .span12
          = yield

    .container
      .row
        .span12
          %footer
            Copyright CC Non-Commercial
            %a{ href: '/pb' } Home
