<!doctype html>
%html
  %head
    = partial 'layouts/head'
  %body
    .container
      .row
        .col-md-12
          %header
            Copyright CC Non-Commercial
            %a{ href: '/pb' } Home

    .container
      .row
        .col-md-8
          = yield
        .col-md-4
          Sidebar

    = partial 'layouts/pb-footer'
