---
layout: pb
---


%h1 PanzerBlitz Situations Out Of the Box

Notes and games.

%h2 Situation #1

%ul
  %li
    %a{href: '/pb/games/situation-1.html'} Notes on Situation #1
    Four games were played, resulting in 3 German wins and one marginal
    victory for the Russians. Spotting rules were not used, only line of
    sight rules. The situation should be replayed using the correct
    spotting rules.

%hr

%h2 Situation #2

%ul
  %li
    %a{href: '/pb/games/situation-2.html'} Notes on Situation #2, game 1
  %li
    %a{href: '/pb/games/situation-2-game-2.html'} Notes on Situation #2, game 2
  %li
    %a{href: '/pb/games/situation-2-game-3.html'} Notes on Situation #2, game 3

%hr

%h2 Situation #3

Played this first with Al S, then a solo game.

I've read elsewhere that this is one of the most unbalanced
scenarios in the original game, and while it's true the that
it's a very tough win for the Germans, if the Russians aren't
careful, they won't meet their victory conditions either.


%ul
  %li
    %a{href: '/pb/games/situation-3-game-1.html'} Notes on Situation #3, games 1 & 2
  %li
    %a{href: '/pb/games/situation-3-game-2.html'} Notes on Situation #3, game 3

%hr

%h2 Situation #4

%p
  Situation #4 plays on the boards connected and to end, requiring a table about
  6 feet long. Which I do not have. Hence, this situation is skipped until I can
  lay it out at a game store, or play it with someone who does have a long table.

%p
  It may be possible to play the situation two boards at a time, as the action
  moves from east to west.

%p
  In any case, Situation #4 will be played soon.

%hr

%h2 Situation #5

Loads of Russian infantry and difficult victory conditions for the Germans ensure
tense gameplay for the Germans.

%ul
  %li
    %a{href: '/pb/games/situation-5-game-1.html'} Notes on Situation #5, game 1

%hr

