---
layout: pb
---

= partial '/pb/playing-aids/game-aids'

%ul
  %li
    %a{href: '/pb/playing-aids/wec.html'} WEC
  %li
    %a{href: '/pb/playing-aids/tet.html'} TET
  %li
    %a{href: '/pb/playing-aids/crt.html'} CRT
  %li
    %a{href: '/pb/playing-aids/turn-helper.html'} Turn helper
  %li
    %a{href: '/pb/playing-aids/pieces.html'} Pieces
  %li
    %a{href: '/pb/playing-aids/grognard-panzerblitz-errata.html'} Errata
