---
layout: pb
---

:css
  div.tet {
    background-color: black;
    padding: 25px;
    margin: 10px;
  }

  table {
    border-collapse: collapse;
    border-width: 3px;
    border-radius: 25px;
    border-color: red;
    font-weight: bold;
    overflow: hidden;
  }

  td {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 10px;
    background-color: white;
  }

  td.to {
    background-color: #a3c1ad;
  }

  td.from {
    background-color: #b0e0e6;
  }

  td.header, th.header {
    padding: 10px;
    background-color: #f04321;
  }

  tr.gray > td {
    background-color: #ccc;
  }

  tr.odd > td {
    background-color: #fc5e31;
  }

  .errata {
    color: red;
  }

  #inote-b {
    display: none;
    position: fixed;
  }

%h1 Weapons Effectiveness Chart

.tet
  %table
    %thead
      %tr
        %th.header{:colspan => "9"} CRT &nbsp; WEAPONS EFFECTIVENESS CHART
    %tbody
      %tr
        %td.header{:rowspan => "2"} DIE<br />ROLL
        %td{:colspan => "7"} ODDS RATIOS
        %td.header{:rowspan => "2"} DIE<br />ROLL
      %tr
        %td 1-4
        %td 1-3
        %td 1-2
        %td 1-1
        %td 2-1
        %td 3-1
        %td 4-1
      %tr.gray
        %td -1
        %td D
        %td DD
        %td X
        %td X
        %td X
        %td X
        %td X
        %td -1
      %tr.gray
        %td 0
        %td -
        %td D
        %td DD
        %td DD
        %td X
        %td X
        %td X
        %td 0
      %tr.odd
        %td 1
        %td -
        %td D
        %td D
        %td DD
        %td X
        %td X
        %td X
        %td 1
      %tr
        %td 2
        %td -
        %td -
        %td D
        %td D
        %td DD
        %td X
        %td X
        %td 2
      %tr.odd
        %td 3
        %td -
        %td -
        %td -
        %td D
        %td DD
        %td X
        %td X
        %td 3
      %tr
        %td 4
        %td -
        %td -
        %td -
        %td -
        %td D
        %td DD
        %td X
        %td 4
      %tr.odd
        %td 5
        %td -
        %td -
        %td -
        %td -
        %td D
        %td DD
        %td X
        %td 5
      %tr
        %td 6
        %td -
        %td -
        %td -
        %td -
        %td -
        %td -
        %td X
        %td 6
      %tr.gray
        %td 7
        %td -
        %td -
        %td -
        %td -
        %td -
        %td -
        %td -
        %td 7







%h2 Die roll modifiers (see Advanced PanzerBlitz rules)

:javascript
  $(document).ready(function() {
    loadPopupBox();

    $('#close-note-b').click(function() {
      unloadPopupBox();
    });

    function unloadPopupBox() {
      $('#note-b').fadeOut('slow');
    }

    function loadPopupBox() {
      $('#note-b').fadeIn('slow');
    }
  });

  $(function(){

    var App = {
      Models: {},
      Collections: {},
      Views: {}
    };

    window.App = App;


    // Square model
    window.App.Models.WEC = Backbone.Model.extend({});
  });

