%aside
  %h3
    Recent Articles
    %a{:href => "/archive.html"} Archive
  %ol
    - blog.articles[0...15].each do |article|
      %li
        %span= article.date.strftime("%a. %b %e")
        %a{:href => article.url}= article.title


