.sidebar
  %h3
    Upcoming plays

  %ul
    %li
      Another play of Duel on the Steppe is warranted. The counters are sorted,
      expect to see this on the table after a solo play through of PanzerBlitz Situation
      \#10.
    %li
      More PanzerBlitz. Situations 10 & 11 have not seen
      any plays at all, and 7 only a single play. Situations 8
      and 12 has only been played FtF, without a detailed writeup.
    %li
      Panzer Leader is coming!
    %li
      The next new game will most likely be Victory Game's Central
      America, an older classic deserving of serious attention. Two
      or three of the shorter scenarios will make it to the table.
      A longer campaign scenario will have to wait on a suitable venue.
    %li
      Compass Games ran a sale recently, and Bataan! was acquired.
      Introductory scenarios will hit the table after the Central
      America excursion. Unlike most of the classics played so far,
      this game is still in shrink.

  %p
    The game collection is growing, perhaps a little too rapidly.
    Stay tuned for more reports.

  %p
    Updated July 19, 2014.

  %h3
    The odd man out

  :markdown
    When there is an odd man out:

    * Have a solo game ready to play.
    * Keep score or advise on a game in progress.
    * Referee a game in progress.

  = partial 'components/consim/journal_listing'
