.sidebar
  %h3
    Upcoming plays

  %ul
    %li
      Another play of Duel on the Steppe is warranted.
    %li
      More PanzerBlitz. Situations 8, 9, 10 & 11 have not seen
      any plays at all, and 7 & 12 only a single play.
    %li
      Panzer Leader is coming!
    %li
      The next new game will most likely be Victory Game's Central
      America, an older classic deserving of serious attention. Two
      or three of the shorter scenarios will make it to the table.
      A longer campaign scenario will have to wait on a suitable venue.
    %li
      Compass Games ran a sale recently, and Bataan! was acquired.
      Introductory scenarios will hit the table after the Central
      America excursion. Unlike most of the classics played so far,
      this game is still in shrink.

  %p
    The game collection is growing, perhaps a little too rapidly.
    Stay tuned for more reports.

  %p
    Updated June 13, 2014.

  = partial 'components/consim/journal_listing'
