.sidebar
  %h3
    Upcoming plays

  %ul
    %li
      More PanzerBlitz. Situation 11 has not seen
      any plays at all, and Situation 7 only a single solo play. Situations 10
      and 12 have only been played FtF, without a detailed writeup.
    %li
      Arab Israeli Wars is coming!
    %li
      Fire in the Lake was acquired, by myself and one of my gaming opponents.
      Hence, it's bumping a bunch of other games down in the rotation. Looking
      forward to this one.
    %li
      Compass Games ran a sale recently, and Bataan! was acquired.
      Introductory scenarios will hit the table after the Central
      America excursion. Unlike most of the classics played so far,
      this game is still in shrink.

  %p
    The game collection is growing, perhaps a little too rapidly.
    Stay tuned for more reports.

  %p
    Updated September 13, 2014.

  %h3
    The odd man out

  :markdown
    When there is an odd man out:

    * Have a solo game ready to play.
    * Keep score or advise on a game in progress.
    * Referee a game in progress.

  = partial 'components/consim/journal_listing'
