.sidebar
  %h3
    Brief notes
  %h3
    More notes
  = partial 'components/consim/journal_listing'

  -# saving the comments below to show content structure
  -#= partial '/panzerblitz/brief-history.html'
  -#= partial '/panzerblitz/links.html'
