---
layout: consim
---

.row
  .span8
    %h1
      Journal Archive
    %ol.archives
      - for entry in blog.articles
        %li
          %span.date= "[#{entry.date.strftime('%Y/%m/%d')}]"
          %a{:href => entry.url}= entry.title
