<!doctype html>
%html
  %head
    = partial 'layouts/head'
  %body
    .container
      .row
        .span12
          %h1 ConSim

          %ul
            %li
              %a{href: '/pb'} PB
            %li
              %a{href: '/ode'} ODE
