---
layout: pb
---

%H1
  PanzerBlitz Firefights

%p
  :markdown
    For the purposes of this website, a PanzerBlitz firefight is a single engagement
    with a small number of units designed to last 2-3 turns, and played unit one side
    has been eliminated. The actual resolution of the firefight may require more than 3
    turns, as units become dispersed and recover, but the ultimate resolution should be
    a complete kill.
